.header {
    padding-top: 44px;
    margin-bottom: 50px;

    .header_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 236px;
            height: 26px;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 0 33px;
        }

        a {
            color: #83888F;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0.923px;
            text-transform: uppercase;
        }

        button {
            display: none;
            border: none;
            background: none;
        }
    }
}


@media only screen and (max-width: 650px) {
    .header {
        .header_wrap {
            ul {
                gap: 0 14px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .header{
        .header_wrap {
            gap: 0 180px;
          ul {
            display: none;
          }

          button {
            display: inline-block;
          }
        }
    }
}

@media only screen and (max-width: 375px) {
    .header {
        padding: 32px 0 40px 0;
        .header_wrap {
            
            img {
                width: 163px;
                height: 18px;
            }
        }
    }
}