.info {
    height: 525px;
    margin-top: 62px;
    background-image: url("../../../src/assets/svg/info-back.svg");
    background-repeat: no-repeat;
    background-position: 10px -105px;

    .info_wrap {
        margin-top: 40px;
    }


    ul {
        display: flex;
        gap: 0 30px;
        width: 1110px;
        margin: 0 auto;
        

    }


    img {
        margin-bottom: 70px;
    }

    h5 {
        margin-bottom: 25px;
        color: #333D4B;
        text-align: center;
        font-family: 'Fraunces', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    p {
        width: 255px;
        color: #333D4B;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .info_item-5 {
        margin-top: 14px;
    }
}