.us {
    position: relative;
    height: 577px;
    padding-top: 100px;
    margin-bottom: 351px;
    background-color: #2C343E;
    border-radius: 10px;
    background: #2C343E;

    h3 {
        margin-bottom: 32px;
        color: #FEFCF7;
        text-align: center;
        font-family: 'Fraunces';
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }

    .us_p-1 {
        width: 540px;
        margin: 0 auto;
        color: #FEFCF7;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    ul {
        display: flex;
        gap: 0 30px;
        position: absolute;
        left: 57px;
        top: 330px;
    }

    li {
        width: 350px;
        height: 382px;
        padding: 72px 48px 48px 47px;
        text-align: center;
        border-radius: 8px;
        background: #0E8784;

        img {
            margin-bottom: 56px;
        }

        h5 {
            margin-bottom: 25px;
            color: #FEFCF7;
            font-family: 'Fraunces';
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 32px;
        }

        p {
            width: 255px;
            margin: 0 auto;
            color: #FEFCF7;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    }

    .us_item-3 {
        width: 350px;
        height: 382px;
        padding: 83px 48px 48px 47px;
        text-align: center;
        border-radius: 8px;
        background: #0E8784;

        img {
            margin-bottom: 67px;
        }

        h5 {
            margin-bottom: 25px;
            color: #FEFCF7;
            font-family: 'Fraunces';
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 32px;
        }

        p {
            width: 255px;
            margin: 0 auto;
            color: #FEFCF7;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    }
}